<header>
  <div class="container">
    <mat-toolbar class="row">
      <div class="col">
        <a routerLink="/">
          <img src="/dira-logo.svg" alt="Logo von Dira">
        </a>
      </div>

      @if (isAngemeldet()) {
        @if (isAdmin()) {
          <div class="col-auto">
            <button matButton="filled" routerLink="/admin/benutzer">
              Zur Benutzerverwaltung
            </button>
          </div>
        }
        <div class="col-auto">
          <span class="text-muted">Hallo {{benutzername()}}!</span>
        </div>
        <div class="col-auto">
          <button matButton="outlined" (click)="logout()">Abmelden</button>
        </div>
      }
    </mat-toolbar>
  </div>
</header>

<main>
  <div class="container border-top mt-2">
    <router-outlet></router-outlet>
  </div>
</main>
