<header>
  <div class="container">
    <mat-toolbar class="row">
      <div class="col">
        <a routerLink="/">
          <img src="/dira-logo.svg" alt="Logo von Dira">
        </a>
      </div>
      @if (isAngemeldet()) {
        <div class="col-auto d-none d-sm-block">
          <span class="text-muted">Hallo {{benutzername()}}!</span>
        </div>
        <div class="col-auto">
          <button matButton="outlined" (click)="logout()">Abmelden</button>
        </div>
      }
    </mat-toolbar>
  </div>
</header>

<main>
  <div class="container border-top mt-2">
    <router-outlet></router-outlet>
  </div>
</main>

@if (isAdmin()) {
  <footer class="bg-black py-3 mt-3">
    <div class="container">
      <h2 class="text-white mt-0">Du bist als Admin angemeldet!</h2>
      <div class="row">
        <div class="col-auto">
          <button matButton="filled" routerLink="/admin/benutzer">
            Zur Benutzerverwaltung
          </button>
        </div>
      </div>
    </div>
  </footer>
}
